@import '../../style.scss';
.rightbar {
  @include themify($themes) {
    flex: 3;
    position: sticky;
    top: 75px;
    height: calc(100vh - 75px);
    overflow: scroll;
    background-color: themed('bgSoft');
    &::-webkit-scrollbar {
      display: none;
    }
    @include mobile {
      display: none;
    }
    @include tablet {
      display: none;
    }
    .conitnear {
      padding: 20px;

      .item {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04), 0 2px 8px rgba(0, 0, 0, 0.06);
        margin-bottom: 20px;
        background-color: themed('bg');

        padding: 20px;
        border-radius: 10px;

        span {
          color: themed('textColorSoft');
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          margin: 20px 0px;
          justify-content: space-between;

          .userInfo {
            display: flex;
            align-items: center;
            gap: 20px;
            position: relative;

            img {
              width: 40px;
              height: 40px;
              object-fit: cover;
              border-radius: 50%;
            }
            .online {
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background-color: limegreen;
              position: absolute;
              top: 0;
              left: 25px;
              border: 1px solide white;
            }
            p {
              color: themed('textColorSoft');
              font-weight: 300;
            }
            span {
              font-weight: 500;
              font-size: 14px;
              color: themed('textColor');
              padding-right: 5px;
            }
          }

          .button {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 10px;

            button {
              border: none;
              padding: 5px;
              color: white;
              cursor: pointer;
              border-radius: 5px;
              &:nth-child(1) {
                background-color: #5271ff;
              }
              &:nth-child(2) {
                background-color: #f05d5d;
              }
            }
          }
        }
      }
    }
  }
  .button button:hover {
    opacity: 0.9;
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
  }

  .item > span {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    display: inline-block;
  }
}
