/* Fade In Logo */
@keyframes fadeInLogo {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.header {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E8ECF1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 10px 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  span img {
    height: 50px;
    object-fit: contain;
    display: flex;
    align-items: center;
    animation: fadeInLogo 1s ease-out; /* Add fade-in animation */
  }

  hr {
    margin: 20px 0;
    height: 2px;
    background-color: #3067a9;
    border: none;
  }


  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
}
.register, .login {
  padding-top: 30px; 
}  


